:root {
  --color-outline: #ccc;
  --color-border: #ddd;
  --color-background: #eee;
  --color-accent: #ec0016;
  --color-text: #222;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

button, .button {
  background: none;
  border: 1px solid var(--color-border);
  cursor: pointer;

  &:hover, &:focus, &:active, &.selection {
    background: var(--color-background);
    outline: 1px solid var(--color-outline);
  }

  &:disabled {
    background: var(--color-background);
    outline: none;
  }
}

label {
  &:has(input) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }

  &:has(input[type=button]),
  &:has(input[type=checkbox]),
  &:has(input[type=color]),
  &:has(input[type=date]),
  &:has(input[type=datetime-local]),
  &:has(input[type=file]),
  &:has(input[type=image]),
  &:has(input[type=radio]),
  &:has(input[type=range]),
  &:has(input[type=time]) {
    cursor: pointer;
  }
}

a {
  cursor: pointer;
  font-weight: bold;

  text-decoration: none;
  color: var(--color-text);

  transition: color 0.2s;

  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: var(--color-accent);
  }
}
