:root {
  --color-outline: #ccc;
  --color-border: #ddd;
  --color-background: #eee;
  --color-panel: #fff;
  --color-accent: #ec0016;
  --color-text: #222;
}

* {
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;

  color: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

main {
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

button, .button {
  background: none;
  border: 1px solid var(--color-border);
  cursor: pointer;

  &:hover, &:focus, &:active, &.selection {
    background: var(--color-background);
    outline: 1px solid var(--color-outline);
  }

  &:disabled {
    background: var(--color-background);
    outline: none;
  }
}

label {
  &:has(input) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  &:has(input[type=button]),
  &:has(input[type=checkbox]),
  &:has(input[type=color]),
  &:has(input[type=date]),
  &:has(input[type=datetime-local]),
  &:has(input[type=file]),
  &:has(input[type=image]),
  &:has(input[type=radio]),
  &:has(input[type=range]),
  &:has(input[type=time]) {
    cursor: pointer;

    & input {
      cursor: pointer;
    }
  }

  &:has(input[type=text]) {
    cursor: text;
  }
}

input {
  accent-color: var(--color-accent);
}

a, .link {
  cursor: pointer;
  color: var(--color-text);
  border: none;
  background: none;
  font-weight: bold;
  text-decoration: none;

  transition: color 0.2s;

  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: var(--color-accent);
    outline: none;
    background: none;
  }

  &:disabled {
    outline: none;
    background: none;
  }
}
