table.stations {
  width: fit-content;

  @media(max-width: 2600px) {
    min-width: 100%;
    width: max-content;
  }

  tr {
    td {
      padding: 0.5rem;
    }

    color: black;
    font-weight: normal;
    text-decoration: none;
  }

  thead {
    tr {
      background: var(--color-background);

      th {
        padding: 0.5rem 1rem;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:nth-of-type(even) {
        background: var(--color-background);
      }

      &:hover, &:focus, &:active {
        background: var(--color-border);
        outline: 2px solid var(--color-outline);
        text-decoration: none;
        z-index: 10;
      }

      td {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.custom {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.filter {
  color: var(--color-accent);
  font-weight: bold;
}
