table.stations {
  width: fit-content;

  @media(max-width: 2600px) {
    min-width: 100%;
    width: max-content;
  }

  tr {
    td {
      padding: 0.5rem;
    }

    color: black;
    font-weight: normal;
    text-decoration: none;

    &:nth-of-type(odd) {
      background: var(--color-background);
    }
  }

  thead {
    tr {
      th {
        padding: 0.5rem 1rem;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:hover, &:focus, &:active {
        background: var(--color-border);
        outline: 2px solid var(--color-outline);
        text-decoration: none;
        z-index: 10;
      }

      td {
        padding: 0.5rem 1rem;

        &:has(svg) {
          text-align: center;
        }

        span {
          margin-left: 1rem;
        }
      }
    }
  }
}

.filter {
  color: var(--color-accent);
  font-weight: bold;
}
