table.stations {
  min-width: 100%;
  width: max-content;

  tr {
    td {
      padding: 0.5rem;
    }

    color: black;
    font-weight: normal;
    text-decoration: none;
  }

  thead {
    tr {
      background: var(--color-background);

      th {
        padding: 0.5rem 1rem;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:nth-of-type(even) {
        background: var(--color-background);
      }

      &:hover,
      &:focus,
      &:active {
        background: var(--color-border);
        outline: 2px solid var(--color-outline);
        text-decoration: none;
        z-index: 10;
      }

      td {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.custom {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.filter {
  color: var(--color-accent);
  font-weight: bold;
}

.paging {
  padding: 1rem 0;
}

.heading {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;

  &:before {
    display: inline-block;
    content: "";
    width: 4rem;
    height: 3px;
    background: var(--color-accent);
  }

  &:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 3px;
    background: var(--color-accent);
  }

  & h1 {
    flex: 0 0 auto;
  }
}
