.dialog:modal {
  padding: 0;
  border: none;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  background: var(--color-panel);

  & form {
    padding: 4rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    & button.close {
      position: absolute;
      top: 1rem;
      left: 1rem;

      padding: 0;
      background: none;
      border: none;
      outline: none;

      transition: color 0.2s;

      &:hover, &:focus, &:active {
        color: var(--color-accent);
      }
    }
  }
}

.dialog::backdrop {
  backdrop-filter: blur(10px);
}
